.m-t--4 {
  margin-top: -4px;
}

.m-t-8 {
  margin-top: 8px;
}

.primary-color {
  color: rgb(149, 219, 213);
}

.d-flex { 
  display: flex;
}

.justify-space-around {
  justify-content: space-around;
}

.w-80 {
  width: 80%;
}

.text-center {
  text-align: center;
}

.shared_card {
  border-radius: 12px;
  background-color: rgb(32, 36, 39);
  border-style: solid;
  border-color: grey;
  box-shadow: rgb(136, 136, 136) 2px 4px;
  padding: 8px;
}

.shared_card .title {
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
  font-weight: bold;
  color: rgb(149, 219, 213);
}

.shared_card .box {
  margin-top: -12px;
  padding-left: 8px;
  padding-right: 8px;
}

.shared_card .box img {
  width: 100%;
  border-radius: 8px;
}

.shared_card .value {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: rgb(149, 219, 213);
}

.shared_card .custom-input {
  font-size: 12px;
  text-align: center;
  width: 100%;
  background-color: rgb(32, 36, 39);
  color: rgb(149, 219, 213);
}

.shared_card .action_btn .create_btn {
  text-align: center;
  color: rgb(149, 219, 213);
  background-color: rgb(32, 41, 49);
}